.hotpink {
  color: #d11d66;
}
#pink {
  color: #ffb6c1;
}

.b1{
  margin-right: 20px;
}
.b2{
  margin-left: 20px;
}
.faf{
  font-family: cursive;
}
#purple {
  color: #d29bf7;
}
.xtr {
  font-style: italic;
}
.bh{
margin-left: 20px;
}
.ht {
  font-family: fantasy;
}
.th {
  font-family: inherit;
}
.lm {
  font-family: monospace;
}
body {
    background-color: snow;
    color: black;
    font-size: 1.1em;
}
.lineBreak {
  border-style: solid;
  border-color: #000;
}
.btn-circle.btn-xl {
  width: 79px;
  height: 79px;
  text-align: center;
  padding-top: 13px;
  font-size: 16px;
  border-radius: 70px;
}
.needed{
  font-size: 10px;
}
